.footer-brand-name {
	text-align: center;
}

.footer-brand {
	height: 200px;
	color: var(--secondaryColor);
	background-color: var(--primaryColor);
	display: flex;
	align-items: center;
	justify-content: center;
}
.footer-newsletter {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	color: var(--secondaryColor);
	background-color: var(--darkPurpleGray);
}

.footer-newsletter-texts {
	width: 30%;
	text-align: center;
}
.footer-newsletter-texts p {
	font-size: 20px;
	color: var(--disabledGray);
	margin-bottom: -5px;
}

.footer-newsletter-form {
	width: 50%;
	padding: 30px;
}

.footer-form-fields {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	border-radius: 30px;

	border: 2px solid var(--secondaryColor);
	background-color: var(--primaryColor);
}

.footer-form-text-field {
	border: none;
	width: 80%;
	border-radius: 30px;
	padding: 20px 0;
}

.footer-form-button {
	text-decoration: none;
	color: var(--secondaryColor);
	font-size: 20px;
	padding: 10px;
}
.footer-form-button:hover {
	color: var(--red);
}

@media only screen and (max-width: 600px) {
	.footer-newsletter-texts {
		width: 100%;
		margin: 20px auto auto;
	}
	.footer-newsletter-texts p {
		font-size: 20px;
	}

	.footer-newsletter-form {
		width: 100%;
	}
	.footer-form-text-field {
		width: 100%;
		border-radius: 20px;
	}
}
