.guarantee-banner-container {
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("../../images/guaranteeBG.jpg");
	height: 450px;
	margin: 50px 0;
}

.guarantee-banner-content {
	width: 40%;
	text-align: center;
}
.guarantee-banner-content h2 {
	font-size: 60px;
	font-weight: 700;
	color: var(--darkPurpleGray);
}
.guarantee-banner-content p {
	font-size: 30px;
	font-weight: 500;
	color: var(--darkPurpleGray);
}

.guarantee-banner-subtext-span {
	padding: 0 20px;
	background-color: var(--red);
	color: var(--secondaryColor);
}

.guarantee-banner-button {
	font-size: 30px;
	font-weight: 500;
	padding: 5px 50px;
	background-color: var(--primaryColor);
	border: 2px solid var(--red);
	color: var(--secondaryColor);
}

@media only screen and (max-width: 1200px) {
	.guarantee-banner-content {
		width: 70%;
	}
	.guarantee-banner-content h2 {
		font-size: 40px;
	}
	.guarantee-banner-content p {
		font-size: 20px;
	}

	.guarantee-banner-button {
		font-size: 20px;
	}
}
@media only screen and (max-width: 500px) {
	.guarantee-banner-content {
		width: 90%;
	}
	.guarantee-banner-content h2 {
		font-size: 30px;
	}
	.guarantee-banner-content p {
		font-size: 20px;
	}

	.guarantee-banner-button {
		font-size: 20px;
	}
}
