.our-blog-section {
	text-align: center;
	margin: 100px auto;
}
.our-blog-section h1 {
	font-size: 70px;
	font-weight: 700;
	color: var(--darkPurpleGray);
	text-decoration: underline;
}
.our-blog-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	text-align: start;
}
