:root {
	--primaryColor: rgb(30, 0, 58);
	--secondaryColor: rgb(248, 238, 251);
	--red: rgb(255, 0, 0);
	--darkPurpleGray: rgb(35, 25, 47);
	--disabledGray: rgb(179, 179, 179);
}
body {
	margin: 0;
	font-family: "Maven Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
		"Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Josefin Sans", sans-serif;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
